* {
background-color: orange;

}

.container{
  background-image: url(../img/street-3230554.jpg);
  background-size: auto;
  height: 700px;
  margin: 0 auto;
  width: 100%;
}

h1 {
  background-color: white;
  color: black;
  font-style: bold;
  font-size: 48px;
  font-family: 'Ronnia', sans-serif;
}

p {
  font-family: 'Ronnia', sans-serif;
  font-size: 24px;
  color: white;
  font-style: bold;
  text-align: left;
  margin: 0 auto;
  position: relative;
}

h2 {
  color: blue;
  font-style: bold;
  font-size: 24px;
  font-family: 'Ronnia', sans-serif;
}

body {
  color: blue;
  font-size: 24px;
  font-family: 'Ronnia', sans-serif;
  font-style:normal;
}

button {
  background-color: darkblue;
  border: none;
  color: white;
  font-style: bold;
  font-size: 36px;
  font-family: 'Ronnia', sans-serif;
  margin-left: auto;
  padding: 0.2em 1em 0.2em 1em;
}

.button-hover:hover{
  border: none;
  background-color: gray;
  color: white;
  padding: 0.2em 1em 0.2em 1em;
}

.media-query {
  font-family: 'Ronnia', sans-serif;
  font-size: 48px;
  color: orange;
  font-weight: 400px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  top: 400px;
  position: relative;
}

/*---Media Queries---*/
@media screen and (max-width: 1440px) {
  .media-query {
    color:#20B2AA;
    font-style: superbold;
  }
}

@media screen and (max-width: 1000px) {
  .media-query {
    color:#90EE90;
    font-style: bold;
  }
}

@media screen and (max-width: 500px) {
  .media-query {
    color:#87CEFA;
    font-style: regular;
  }
}

.container1{
  background-color: white;
  width: 1440px;
  height: 900px;
}

.title{
  font-family: 'Times New Roman', serif;
  font-size: 73px;
  color: black;
  width: 100%;
  margin-left: 50px;
  margin-right: 129PX;
  margin-top: 38px;
  margin-bottom: 0PX;
  font-weight: normal;
  text-align: left;
}

.aunthor1{
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  color: black;
  width: 100%;
  margin-left: 640px;
  margin-right: 129PX;
  margin-top: 0PX;
  margin-bottom: 0PX;
  font-weight: normal;
  text-align: left;
}

.bonjovi{
  float:right;
  width:436px;
  height:403px;
  margin-left: 16PX;
  margin-right: 50px;
  margin-top: -38px;
  margin-bottom: 52px;
}

.paragraph1{
  font-family: "Times New Roman", serif;
  font-size: 20px;
  color: black;
  font-weight: normal;
  margin-left: 50px;
  margin-right: 16PX;
  margin-top: 0PX;
  margin-bottom: 30px;
  text-align: justify;
}

.aunthor2{
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  color: black;
  width: 100%;
  margin-left: 599px;
  margin-right: 129PX;
  margin-top: 43px;
  margin-bottom: 25PX;
  font-weight: normal;
  text-align: left;
}

.patriciaurquiola{
  float:left;
  width:364px;
  height:488px;
  width:364px;
  height:488px;
  margin-left:50px;
  margin-right: 24px;
  margin-top:-30px;
  margin-bottom: 0px
}

.paragraph2{
  font-family: "Times New Roman", serif;
  font-size: 20px;
  color: black;
  font-weight: normal;
  margin-left: 440px;
  margin-right: 40px;
  margin-top: 40PX;
  margin-bottom: 72px;
  text-align: justify;
}

.footnote{
  font-family: "Times New Roman", serif;
  font-size: 16px;
  color: black;
  font-weight: normal;
  margin-left: 667px;
  margin-right: 80px;
  margin-top: 39PX;
  margin-bottom: 10px;
  text-align: right;
}
