* {
background-color: orange;

}

.container{
  background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fvariety.com%2F2020%2Fbiz%2Fasia%2Fhong-kong-declares-emergency-coronavirus-response-1203479971%2F&psig=AOvVaw1jc6HGmRpSGaD-NH8ZTy1Z&ust=1600170854230000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCJDT843L6OsCFQAAAAAdAAAAABAK);
  background-size: cover;
  height: 700px;
  margin: 0 auto;
  width: 100%;
}

h1 {
  background-color: white;
  color: black;
  font-style: bold;
  font-size: 48px;
  font-family: 'Ronnia', sans-serif;
}

h2 {
  background-color: white;
  color: black;
  font-style: bold;
  font-size: 24px;
  font-family: 'Ronnia', sans-serif;
}

body {
  color: blue;
  font-size: 24px;
  font-family: 'Ronnia', sans-serif;
  font-style:normal;
}

button {
  background-color: gold;
  border: none;
  color: white;
  font-style: bold;
  font-size: 24px;
  font-family: 'Ronnia', sans-serif;
  padding: 1em 2em 1em 2em;
}

.button-hover:hover{
  background-color: gray;
  border: none;
  color: gold;
  font-style: bold;
  font-size: 24px;
  font-family: 'Ronnia', sans-serif;
  padding: 1em 2em 1em 2em;
}

p {
  font-family: 'Ronnia', sans-serif;
  font-size: 52px;
  font-weight: 500;
  text-align: center;
  width:100%
  margin: 0 auto;
  top: 65px;
  position: relative;
}

/*---Media Queries---*/
@media screen and (max-width: 1440px) {
  .media-query {
    color:#20B2AA;
    font-style: superbold;
}
}

@media screen and (max-width: 1000px) {
  .media-query {
    color:#90EE90;
    font-style: bold;
}
}

@media screen and (max-width: 500px) {
  .media-query {
    color:#87CEFA;
    font-style: regular;
}
}
