@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

h1 {
background-color: white;
color: black;
font-style: bold;
font-size: 200;
font-family: 'Anton', sans-serif;;

}

body {
background-color: orange;
color: blue;
font-size: 150;
font-family: 'Anton', sans-serif;
font-style:normal;

}
