
* {
background-color: white;

}

.container1 {
  background-color: white;
  width: 1440px;
}

 h1 {
  font-family: 'Times New Roman', serif;
  font-size: 73px;
  color: black;
  font-weight: normal;
  text-align: justify;
}

h2 {
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  color: black;
  font-weight: normal;
  text-align: justify;
}

h3 {
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  color: black;
  width: 226px;
  font-weight: normal;
  text-align: justify;
}


 p {
  font-family: "Times New Roman", serif;
  font-size: 20px;
  text-align: justify;
}


.row-1, .row-2 {
  width: 100%;
  display: block;
  height: 50%;
}

.row-1 img, .col-left, .row-2 img, .col-right {
  float: left;
}

.row-1 img{
  width:500px;

}

.row-1 img{
  width: 500px;
}

.col-left {
width: 40%;
}
