
* {
background-color: white;

}


 h1 {
  font-family: 'Times New Roman', serif;
  font-size: 24px;
  color: black;
  font-weight: normal;
  text-align: left;
}

h2 {
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  color: black;
  font-weight: normal;
  text-align: center;
}

h3 {
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  color: black;
  width: 226px;
  font-weight: normal;
  text-align: center;
}


p {
  font-family: "Times New Roman", serif;
  font-size: 20px;
  text-align: justify;
}

.row-1, .row-2{
  display: flex;
  justify-content: space-between;
}

.col-left-top {
  width:35%;
}

.col-right-top {
  width: 60%;
}

.col-left-bottom {
  width:60%;
}

.col-right-bottom {
  width: 35%;
}
